@model VisualizarProdutosVM

@{
    ViewData["Title"] = "Produtos";
}

<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Produtos</h2>
        <span>Tabela com todos os produtos adicionados. Você pode adicionar novos produtos e categorias nos botões ao lado!</span>
    </div>
    <div class="col-6 text-end">
        <br />
        <a asp-controller="Produtos" asp-action="Create" class="btn btn-primary">Adicionar produto</a>
        <a asp-controller="Categoria" asp-action="Index" class="btn btn-secondary">Ver categorias</a>
    </div>
</div>
<br />

<table class="table table-striped table-dark text-center" width="100%">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Categoria</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.Produtos)
        {
            @foreach (var categoria in Model.Categorias)
            {
                @if (obj.CategoriaFK == categoria.Id)
                {
                    <tr>
                        <th scope="row" width="5%">@obj.Id</th>
                        <td width="25%">@obj.Nome</td>
                        <td width="20%">R$@obj.Preco</td>
                        <td width="20%">@categoria.Nome</td>
                        <td width="15%"><a asp-controller="Produtos" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">Editar</a></td>
                        <td width="15%"><a asp-controller="Produtos" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">Remover</a></td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

